* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

input, button, label {
  font-size: 1.2rem;
  min-width: 60px;
  min-height: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.video-wrapper {
  flex: 0 0 auto;
  position: relative;
  /* 16:9 */
  padding-bottom: 56.25%;
  margin-bottom: 5px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-control-wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.video-control-wrapper>div {
  margin: 0.5rem 0px;
}

.url-load-wrapper, .play-speed-rate-control-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.url-load-wrapper>input, .url-load-wrapper>button, .play-speed-rate-control>button, .play-speed-rate-control-wrapper>input {
  margin: 0.5rem 0px;
}

.url-load-wrapper>input, .play-speed-rate-control {
  flex: 2 2 auto;
  margin-right: 10px;
}

.url-load-wrapper>button, .play-speed-rate {
  flex: 1 1 auto;
}

.text-align-center {
  text-align: center;
}

.play-speed-rate-control {
  display: flex;
}

.play-speed-rate-control>button {
  flex: 1 1 auto;
  margin: 0px 5px;
  height: 100%;
}

.ab-repeat-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.switch {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 60px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 52px;
  width: 52px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2ab934;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(90px);
  -ms-transform: translateX(90px);
  transform: translateX(90px);
}

.on {
  display: none;
}

.on, .off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+.slider .on {
  display: block;
}

input:checked+.slider .off {
  display: none;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}