* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin: 5px 0px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.title-main {
  font-size: 7vmin;
  font-weight: bold;
  background: linear-gradient(to right, #35B535, #006B3C, #013220);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-sub {
  font-size: 4vmin;
}

.title-icon {
  height: 5vmin;
  width: 5vmin;
  margin: 0px 5px;
}

button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-transform: none;
  overflow: visible;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  line-height: 1.42857143;
  border-radius: 4px;
  user-select: none;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;

  &:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    text-decoration: none;
  }

  &:active {
    color: #fff;
    background-color: #286090;
    background-image: none;
    border-color: #204d74;
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
  }
}

input {
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }
}

input,
button {
  min-width: 60px;
  min-height: 60px;
}

input,
button,
label {
  font-size: 1.2rem;
}

.text-align-center {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 992px;
  height: 100%;
  margin: 0 auto;
}

.video-wrapper {
  flex: 0 0 auto;
  position: relative;
  /* 16:9 */
  padding-bottom: 56.25%;
  margin-bottom: 5px;
  height: 0;

  >iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-control-wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;

  >div {
    margin: 5px 0px;
  }
}

.url-load-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  >div {
    margin: 4px;
  }

  .video-url-wrapper {
    flex: 2 2 auto;

    >input {
      width: 100%;
    }
  }

  .load-url-btn-wrapper {
    flex: 1 1 auto;

    >button {
      width: 100%;
    }
  }
}

.play-speed-rate-control-wrapper {
  display: flex;
  flex-wrap: wrap;

  .play-speed-rate-control {
    flex: 2 2 auto;
    display: flex;
    justify-content: space-between;

    >button {
      flex: 1 1 auto;
      margin: 4px;
    }
  }

  .play-speed-rate-wrapper {
    flex: 1 1 auto;
    margin: 4px;

    >input {
      width: 100%;
    }
  }
}

.ab-repeat-wrapper {
  display: flex;
  flex-wrap: wrap;

  >div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    >button {
      margin: 4px;
    }

    >input {
      margin-right: 4px;
    }
  }
}

.loop-wrapper {
  display: flex;

  >label {
    line-height: 300%;
    margin: 0px 4px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 158px;
  height: 60px;

  input {
    display: none;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  transition: .4s;

  &.round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }

  &:before {
    position: absolute;
    content: "";
    height: 52px;
    width: 52px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
}

input:checked+.slider {
  background-color: #2ab934;

  .on {
    display: block;
  }

  .off {
    display: none;
  }

  &:before {
    transform: translateX(98px);
  }
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

.on {
  display: none;
}

.on,
.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}